.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.players {
  float: left;
  width: 40%;
}

.library {
  float: left;
  width: 60%;
}

.library .nav {
 float: left;
}

.library .content {
  clear: both;
 height: 100vh;
}

.nav * {
  padding: 20px;
}

.year {
  float: left;
  padding: 20px;
}
