.album-detail .cover-art {
  float: left;
  height: 200px;
}

.album .cover-art {
  height: 50px;
}

.players .tracks, .album-detail .tracks, .albums, .artists {
  display: table;
  width: 100%;
}

.players .player, .tracks .track, .albums .album, .artists .artist {
  text-align: left;
  display: table-row;
}
.artists .artist:nth-child(odd), 
.albums .album:nth-child(odd),
.tracks .track:nth-child(odd),
.years .year:nth-child(odd) {
  background-color: lightgray;
}

.player .name, .player .controls, .player .title, .player .artist,
.player .album, .track .title, .track .album, .track .artist,
.track .controls, .album .cover-art, .album .title, .album .controls, 
.artist .name, .artist .controls {
  display: table-cell;
  padding: 3px 10px;
}

.playing {
  font-weight: bold;
  background-color: lightgray;
}

.played {
  color: lightgray;
}

.tab-nav a {
  padding: 3px 10px;
  background: lightgray;
}

.tab-nav {
  clear: right;
  float: left;
}

.tab-nav a:hover {
  background-color: darkgray;
  color: white;
}

.tab-nav .active {
  background-color: white;
}

.tab-content {
  clear: both;
  display: none;
}

.tracks {
  font-size: 0.7em;
}
